*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
::-webkit-scrollbar{
    display: none;
}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
}
a:link{
    text-decoration: none;
}
.flex{
    display: flex;
}
.container{
    max-width: 1200px;
    margin: auto;
}
body{
    background-color: #f0f2f5;
}
/* header css */
header{
    background-color: #fdfdfd;
}
header div.flex{
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
.header-menu ul{
    align-items: center;
}

.header-menu li a{
    color: #34495e;
    font-size: 16px;
    padding: 0 10px;
    font-family: sans-serif;
    font-weight: 600;
    transition: .3s;
}
.header-menu li a:hover{
    color: #080c11;
}
.header-menu li button {
    padding: 10px 20px;
    font-weight: 600;
    background: #1b9bf0;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}
.header-menu li button:hover{
    background-color: #3498db;
}

/* body css */
/* .body{} */
/* .body div.flex{} */
.body .profile{
    flex-basis: 25%;
    text-align: center;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    padding: 15px;
}
.profile-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}
.body .profile #profile{
    width: 90%;
    margin-top: 20px;
}
.body .profile h3 {
    font-size: 25px;
    margin: 10px 0 5px;
}
.body .profile h5 {
    font-size: 15px;
    color: gray;
    font-weight: 400;
}
.body .profile ul{
    text-align-last: left;
    margin-top: 50px;
}
.profile-box ul li {
    margin-bottom: 15px;
}
.profile-box ul li span {
    display: inline-block;
    width: 22px;
    color: #3498db;
    font-size: 18px;
}
.profile-box ul li a {
    color: #000;
    font-weight: bold;
}
.profile-box ul li a:hover{
    text-decoration: underline;
}
/* .profile-box ul li img{} */
.body .posts{
    flex-basis: 75%;
    border: 1px solid #ddd;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.body .posts::-webkit-scrollbar{
    display: none;
}
.post-gird{
    padding: 20px;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.postBox{
    flex-basis: 30%;
    /* height: 280px; */
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 5%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.postBox:nth-child(3n + 3){
    margin-right: 0;
}
.postContent{
    padding: 15px;
    /* overflow: hidden;
    text-overflow: ellipsis; */
}
.postBox img{}
.postBox p{
}


.post{}


/* input box css */
.inputBackground{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#close{
    float: right;
    font-size: 20px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-color: #1b9bf0;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 20px;
    transition: .4s;
}
#close:hover, .postInput button:hover{
    background-color: #096cae;
}
.postInput{
    height: 90vh;
    width: 50vw;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 10px;
}

.postInput h3{
    margin: 20px 0 10px 3px;
}
.postInput input, .postInput textarea{
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    outline-color: #1b9bf0;
}
.postInput input{
    height: 35px;
}
.postInput button{
    padding: 10px 30px;
    background-color: #1b9bf0;
    color: #fff;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-top: 30px;
    transition: .4s;
}